{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}
    {% include '../includes/errors.html' %}

    <a href="bank-details" class="hidden-skip-link"></a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Do you have any dependent children?</h1>

        <p class="text">
          If you are responsible for a child under 16, or under 20 if they stay
          in approved education or training, you could get a higher rate of
          Bereavement Support Payment.
        </p>

        <form method="post" autocomplete="off">
          <h2 class="heading-medium" style="display:none;">
            Do you have any dependent children?
          </h2>

          <div class="form-group">
            <fieldset class="inline">
              <label class="block-label" for="do-you-have-children-yes">
                <input id="do-you-have-children-yes" type="radio" name="do-you-have-children-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="do-you-have-children-no">
                <input id="do-you-have-children-no" type="radio" name="do-you-have-children-select" value="No">
                No
              </label>
            </fieldset>

            <div id="hidden-eligible" class="panel panel-border-narrow js-hidden">
              <p>
                You can also choose &ldquo;Yes&rdquo; if you&rsquo;re pregnant.
              </p>
            </div>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>

      </div>
    </div>

  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('change', '#do-you-have-children-no', function () {
      $('#hidden-eligible').show();
    });
  </script>
{% endblock %}
