{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Government now knows about the death</h1>

        <p class="lede">
          You will be contacted if any more information is needed.
        </p>

        <h2 class="heading-medium">Things you can do now</h2>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                Bereavement Support Payment
              </td>
              <td>
                <a class="form-label-bold" href="#">Apply online</a>
              </td>
            </tr>

            <tr>
              <td>
                Get help paying for a funeral
              </td>
              <td>
                <a class="form-label-bold" href="#">Apply online</a>
              </td>
            </tr>

            <tr>
              <td>
                Sort out inheretance tax
              </td>
              <td>
                <a class="form-label-bold" href="#">Apply online</a>
              </td>
            </tr>
          </tbody>
        </table>

        <br />

        <form method="post" autocomplete="off">
          <div class="form-group">
            <input type="submit" class="button" value="I'm done">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
