{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Did you live in the UK when your spouse died?</h1>

        <form action='did-you-live-in-the-uk' method="post">
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="radio-inline-1">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                Yes
              </label>
              <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                No
              </label>
            </fieldset>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
