{% extends "layout.html" %}

{% block page_title %}
  Apple for Bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">You can't claim Bereavement Support</h1>

        {% if date %}
          <p class="text">You needed to make a claim no more than 13 months after your spouse died to be eligible.</p>
        {% endif %}

        {% if location %}
          <p class="text">You must have lived in the UK at the time of your late spouse's death to be eligible.</p>
        {% endif %}

        {% if married %}
          <p class="text">You must have still been married to your late spouse at the time of their death to be eligible.</p>
        {% endif %}

        {% if dateOfBirth %}
          <p class="text">You must be below State Pension age to be eligible.</p>
        {% endif %}

        {% if dateOfDeath %}
          <p class="text">Your partner must have died within the last 12 months to be eligible.</p>
        {% endif %}

        <p>
          To get help with your application you can call the Bereavement Service on
        </p>
        <div class="panel panel-border-narrow">
          <p>
            Telephone: 0345 606 0265<br />
            Welsh language: 0345 606 0275<br />
          </p>

          <p>
            Textphone: 0345 606 0285<br />
            Welsh language: 0345 606 0295
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
