{% extends "layout.html" %}

{% block page_title %}
  Apple for Bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Were you married to your spouse when they died?</h1>

        <form action='relationship-status' method="post">
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="still-married-yes">
                <input id="still-married-yes" type="radio" name="still-married-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="still-married-no">
                <input id="still-married-no" type="radio" name="still-married-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
