{% extends "layout.html" %}

{% block page_title %}
  Apple for Bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Before you start</h1>

        <p>
          You'll need the following to complete your application:
        </p>

        <ul class="list list-bullet">
          <li>Your National Insurance number</li>
          <li>Your late spouse's National Insurance number</li>
          <li>Your bank details</li>
        </ul>

        <a class="button button-start" href="relationship-status" role="button">Start now</a>
      </div>
    </div>
  </main>
{% endblock %}
