// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Hidden link for skipping validation
.hidden-skip-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: block;
}

// Declaration page
.declaration {
  background-image: url('/public/images/icon-important.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  max-width: 30em;
  box-sizing: border-box;
}

// End page
.print-save-icons {
  float: left;
  margin-top: -4px;
  padding-right: 0.6em
}

// Overseas
.country-link {
  display: block;
  padding: 8px;
  font-weight: bold;

  &:hover {
    background: #0097cf;
    color: #fff;
    cursor: pointer;
  }
}

.country-list {
  border: 3px solid $focus-colour;
  margin-top: -3px;
}

// End page

.alert {
  margin-top: 20px;
}
.alert-success {
  border-color: #28a197;
  background-color: #ecfaf9;
}

.indent-info-blue {
  border-color: #0268AE;
  background-color: #EDF4F7;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(../images/icon-information.png);

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url(../images/icon-information-2x.png);
    background-size: 27px 27px;
  }
}

// Job centre / map
#map {
  height: 400px;

  @media (max-width: 640px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.map-circle-buttons {
  text-align: right;

  @media (max-width: 640px) {
    margin-top: 30px;
    margin-right: 20px;
  }
}

#ajax-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('../images/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}