<details>
  <summary><span class="summary">Which benefits and payments will change?</span></summary>

  <div class="panel panel-border-narrow">
    <ul class="list-bullet">
      <li>Incapacity Benefit - this has been stopped</li>
      <li>Income Support - this has been stopped</li>
      <li>Jobseeker's Allowance - this has been stopped</li>
      <li>Universal Credit - this will still be paid to the partner
          of {{deceasedName}} but the amount will change </li>
      <li>Working Tax Credits</li>
      <li>Child Tax Credits - this will still be paid to the partner
          of {{deceasedName}} but the amount will change</li>
      <li>Child Benefit - this will still be paid to the partner
          of {{deceasedName}} but the amount will change</li>
    </ul>
  </div>
</details>

<details>
  <summary><span class="summary">Which identity documents will change?</span></summary>

  <div class="panel panel-border-narrow">
    <ul class="list-bullet">
      <li>Driving licence - this will be cancelled to prevent it being
          used fraudulently</li>
      <li>UK passport - this will be cancelled to prevent it being
          used fraudulently</li>
    </ul>
  </div>
</details>

<details>
  <summary><span class="summary">Which local authority will be informed?</span></summary>

  <div class="panel panel-border-narrow">
    <ul class="list-bullet">
      <li>Council tax - North Tyneside Council has been notified</li>
    </ul>
  </div>
</details>
