{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Are you entitled to any Child Benefit?</h1>

        <p>
          You get Child Benefit if you&rsquo;re responsible for a child under 16, or under
          20 if they stay in approved education or training. <a href="#">More on
          claiming Child Benefit (opens in a new tab)</a>.
        </p>

        <div class="panel panel-border-narrow">
          <p>
            Choose &ldquo;Yes&rdquo; if you&rsquo;re expecting a baby with your late spouse.
          </p>
        </div>

        <form action='child-benefit' method="post">
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="child-benefit-yes">
                <input id="child-benefit-yes" type="radio" name="child-benefit-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="child-benefit-no">
                <input id="child-benefit-no" type="radio" name="child-benefit-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
