{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Have you applied for Child Benefit?</h1>

        <p class="text">
          If you're entitled to Child Benefit, the amount of Bereavement Support Payment you'll get may be affected.
        </p>

        <form action='child-benefit' method="post">
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="child-benefit-yes">
                <input id="child-benefit-yes" type="radio" name="child-benefit-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="child-benefit-no">
                <input id="child-benefit-no" type="radio" name="child-benefit-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
        </form>

        <div class="panel panel-border-narrow">
          <p class="text">
            You can choose not to get Child Benefit payments, but you should still apply because:
          </p>

          <ul class="list list-bullet">
            <li>it will help you get National Insurance credits which count towards your State Pension</li>
            <li>it will ensure your child is registered to get a National Insurance number when they are 16 years old</li>
          </ul>

          <a href="https://www.gov.uk/child-benefit/overview" target="_blank">More information on Child Benefit (opens in new tab)</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
