{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">You can&rsquo;t claim Bereavement Support based on your answers</h1>

        <p>
          You can only get it if:
        </p>

        <ul class="list list-bullet">
          {% if date %}
            <li>your claim is no more than 3 months after your spouse died</li>
          {% endif %}

          {% if location %}
            <li>your spouse lived in the UK when they died</li>
          {% endif %}

          {% if married %}
            <li>you were still married to your spouse when they died</li>
          {% endif %}

          {% if dateOfBirth %}
            <li>you were below state pension age when your spouse died</li>
          {% endif %}

          {% if dateOfDeath %}
            <li>your partner died within the last 3 months</li>
          {% endif %}
        </ul>
        
        <div class="panel panel-border-narrow">
          <p>
            Telephone: 0345 606 0265<br />
            Welsh language: 0345 606 0275<br />
          </p>

          <p>
            Textphone: 0345 606 0285<br />
            Welsh language: 0345 606 0295
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
