{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Before you start</h1>

        <h2 class="heading-medium">
          To get Bereavement Support Payment you must:
        </h2>

        <ul class="list list-bullet">
          <li>be under State Pension age</li>
          <li>have been married or in a civil partnership when your spouse or civil partner died</li>
          <li>have been living in the UK when your spouse or civil partner died</li>
          <li>make a claim within a year of your spouse or civil partner&rsquo;s death</li>
        </ul>

        <h2 class="heading-medium">
           To make your application you&rsquo;ll need:
        </h2>

        <ul class="list list-bullet">
          <li>your National Insurance number</li>
          <li>your spouse or civil partner&rsquo;s National Insurance number</li>
          <li>the date your spouse or civil partner died</li>
          <li>your bank details</li>
        </ul>

        <div class="panel panel-border-narrow">
          <p>
            You'll also be asked whether you have any dependent children. If you do, you could get a higher rate of Bereavement Support Payment.
          </p>
        </div>

        <br />

        <a class="button button-start" href="eligibility" role="button">Start now</a>
      </div>
    </div>
  </main>
{% endblock %}
