{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Do you have any dependent children?</h1>

        <p class="text">
          This means you are responsible for a child under 16, or under 20 if they stay
          in approved education or training.
        </p>

        <form action='dependant-children' method="post">
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="do-you-have-children-yes">
                <input id="do-you-have-children-yes" type="radio" name="do-you-have-children-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="do-you-have-children-no">
                <input id="do-you-have-children-no" type="radio" name="do-you-have-children-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
