{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">About you</h1>

        <form action='details' method="post">
          <div class="form-group">
            <label class="form-label" for="first-name">First name</label>
            <input class="form-control" id="first-name" name="first-name" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="last-name">Last name</label>
            <input class="form-control" id="last-name" name="last-name" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="ni-number">National Insurance number</label>
            <input class="form-control" id="ni-number" name="ni-number" type="text">
          </div>

          <legend class="form-label-bold">Date of birth</legend>

          <div class="form-group">
            <fieldset>
              <div class="form-date">
                <p class="form-hint" id="dob-hint">For example, 31 3 1980</p>

                <div class="form-group form-group-day">
                  <label for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                </div>

                <div class="form-group form-group-month">
                  <label for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>

                <div class="form-group form-group-year">
                  <label for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                </div>
              </div>
            </fieldset>
          </div>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
