{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">Application received</h1>
          <p>
            {{completeDate}}<br />
            Your reference number is <br />
            <strong class="heading-medium">HDJ2123F</strong>
          </p>
        </div>

        <h2 class="heading-medium">What happens next</h2>

        <p>
          You don&rsquo;t need to do anything right now. The Bereavement Service will be
          in touch if any more information is needed for your application, eg to ask
          for a copy of your marriage certificate.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
