<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeANre8VZSXSjIbk_pvjLPpNhZDBeXxmk&libraries=places&callback=initMap" async defer></script>
<script>
  var userPcode = window.location.href.split('?')[1].split('postcode=')[1];
  var radius = 50000;
  var pcodeCentre;

  $.ajax({
    url: "https://api.postcodes.io/postcodes/" + userPcode,
    dataType: "json",
    encode: true,
    success: function(data) {
      pcodeCentre = [parseFloat(data.result.latitude), parseFloat(data.result.longitude)];
      initPostcode(parseFloat(data.result.latitude), parseFloat(data.result.longitude));
    }
  });

  var map;
  var infowindow;
  var circle1, circle5, circle10;

  function initPostcode(lat, lng) {
    var center = new google.maps.LatLng(lat, lng);
    map.panTo(center);

    circle1 = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.2,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.2,
      map: map,
      center: {lat: lat, lng: lng},
      radius: 1609.34
    });

    circle5 = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.2,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.2,
      map: map,
      center: {lat: lat, lng: lng},
      radius: 8046.72
    });

    circle10 = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.2,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.2,
      map: map,
      center: {lat: lat, lng: lng},
      radius: 16093.4
    });

    circle1.setMap(map);
    circle5.setMap(null);
    circle10.setMap(null);

    infowindow = new google.maps.InfoWindow();
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch({
      location: center,
      radius: radius,
      keyword: 'jobcentre'
    }, callback);
  }

  function setZoom(num){
    map.setZoom(num);
  }

  function setCentre(lat, lng) {
    var center = new google.maps.LatLng(lat, lng);
    map.panTo(center);
  }

  $('#1-mile').click(function(e) {
    e.preventDefault();
    circle1.setMap(map);
    circle5.setMap(null);
    circle10.setMap(null);
    setZoom(13);
    setCentre(pcodeCentre[0], pcodeCentre[1]);
  });

  $('#5-miles').click(function(e) {
    e.preventDefault();
    circle1.setMap(null);
    circle5.setMap(map);
    circle10.setMap(null);
    setZoom(11);
    setCentre(pcodeCentre[0], pcodeCentre[1]);
  });

  $('#10-miles').click(function(e) {
    e.preventDefault();
    circle1.setMap(null);
    circle5.setMap(null);
    circle10.setMap(map);
    setZoom(10);
    setCentre(pcodeCentre[0], pcodeCentre[1]);
  });

  function initMap() {
    var circle;
    var user = {lat: 51.5283063, lng: -0.3824716};

    map = new google.maps.Map(document.getElementById('map'), {
      center: user,
      zoom: 13
    });
  }

  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent('<div><strong style="font-weight: bold">' + place.name + '</strong>' + '<br />' + place.vicinity + '</div>');
      infowindow.open(map, this);
    });
  }
</script>
