{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    <a href="we-need-your-marriage-certificate" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Don't have marriage certificate</h1>

        <p>
          If you don't have a marriage or civil partnership certificate, contact
          the Bereavement Service to verify additional information.
        </p>

        <h4 class="heading-small">Bereavement Service helpline</h4>

        <p>
          Telephone: 0345 606 0265<br />
          Textphone: 0345 606 0285
        </p>

        <p>Monday to Friday, 8am to 6pm</p>

        <p><a href="/call-charges">Find out about call charges</a></p>
      </div>
    </div>
  </main>
{% endblock %}