{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">Application complete</h1>
          <p>
            Your reference number is <br>
            <strong class="heading-medium">HDJ2123F</strong>
          </p>
        </div>

        <h2 class="heading-medium">What happens next</h2>

        <p>We've received your application for Bereavement Support Payment.</p>
        <p>We will contact you when we have processed it, or to ask you for more information.</p>
        <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
      </div>
    </div>
  </main>
{% endblock %}