{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% if query %}
      <a href="job-centre" class="link-back">Back</a>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Take your marriage certificate to your nearest Jobcentre</h1>

        {% if not query %}
          <h2 class="heading-medium">Enter your postcode</h2>

          <form>
            <div class="form-group">
              <label class="form-label label-no-hint visuallyhidden" for="postcode">
                Postcode
              </label>
              <input type="text" name="postcode" class="form-control" id="postcode">
            </div>

            <div class="form-group">
              <input type="submit" class="button" value="Submit">
            </div>
          </form>
        {% endif %}
      </div>
    </div>

    {% if query %}
      <div class="grid-row">
        <div class="map-circle-buttons">
          <a id="1-mile" href="#">1 mile</a> |
          <a id="5-miles" href="#">5 miles</a> |
          <a id="10-miles" href="#">10 miles</a>
        </div>

        <div id="map"></div>
      </div>
    {% endif %}
  </main>
{% endblock %}

{% block page_scripts %}
  {% if query %}
    {% include '../marriage-certs/javascripts/job-centre.html'%}
  {% endif %}
{% endblock %}