{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Was the marriage automatically verified?<h1>

        <p>
          This page is not user facing, it is here so that you can test user
          journey based on if their marriage was able to be verified automatically.
        </p>

        <form method="post">
          <fieldset class="inline">
            <div class="form-group">
              <label class="block-label" for="marriage-verified-yes">
                <input id="marriage-verified-yes" type="radio" name="marriage-verified-select" value="Yes">
                Yes
              </label>

              <label class="block-label" for="marriage-verified-no">
                <input id="marriage-verified-no" type="radio" name="marriage-verified-select" value="No">
                No
              </label>
            </div>
          </fieldset>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}