{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    <a href="upload" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your upload was successful</h1>

        <p>
          If you are happy with your upload, click continue to submit your application.
        </p>


        <form method="post">
          <div class="form-group">
            <img class="upload-thumb" src="{{filename}}" />
          </div>

          <input type="submit" class="button" value="Continue"/>
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('click', '#upload-button', function (e) {
      e.preventDefault();
      $('#upload-field').trigger('click');
    });

    $(document).on('change', '#upload-field', function (e) {
      $('body').prepend('<div id="ajax-loader"></div>')
      setTimeout(function () {
        $('form').submit();
      }, 3000);
    });
  </script>
{% endblock %}