{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Upload your marriage certificate</h1>

        <p>
          Once uploaded, the photo will be converted into an acceptable size.
        </p>

        <form method="post">
          <input id="upload-field" type="file" name="pic" accept="image/*" style="display: none">
          <input id="upload-button" type="submit" class="button" value="Choose an image">
        </form>
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('click', '#upload-button', function (e) {
      e.preventDefault();
      $('#upload-field').trigger('click');
    });

    $(document).on('change', '#upload-field', function (e) {
      $('body').prepend('<div id="ajax-loader"></div>')
      setTimeout(function () {
        $('form').submit();
      }, 3000);
    });
  </script>
{% endblock %}