{% extends "layout.html" %}

{% block page_title %}
  Page Title
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">You need to send your marriage or civil partnership certificate</h1>

        <p class="lede">
          Your online application has been submitted, but it can't be processed until you
          send your original marriage or civil partnership certificate.
        </p>

        <h2 class="heading-medium">How do you want to send it to us?</h2>

        <form method="post">
          <fieldset>
            <div class="form-group">
              <label class="block-label" for="how-upload">
                <input id="how-upload" type="radio" name="how-select" value="uploadIt">
                Upload it
              </label>

              <label class="block-label" for="how-post">
                <input id="how-post" type="radio" name="how-select" value="postIt">
                Post it
              </label>

              <label class="block-label" for="how-job-centre">
                <input id="how-job-centre" type="radio" name="how-select" value="jobCentre">
                Take it to a Job Centre
              </label>

              <p class="form-block">or</p>

              <label class="block-label" for="how-dont-have-it">
                <input id="how-dont-have-it" type="radio" name="how-select" value="dontHaveIt">
                I don't have my marriage certificate
              </label>
            </div>
          </fieldset>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}