{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Based on your answers, you can&rsquo;t get Bereavement Support Payment</h1>

          {% if date %}
            <p>You can only get it if your spouse or civil partner died after 6 April 2014.</p>
          {% endif %}

          {% if location %}
            <p>You can only get it if you lived in the UK when your spouse or civil partner died.</p>
          {% endif %}

          {% if married %}
            <p>You can only get it if you were married to, or in a civil partnership with, your partner when they died.</p>
          {% endif %}

          {% if dateOfBirth %}
            <p>You can only get it if you were below State Pension age when your spouse or civil partner died.</p>
          {% endif %}

        {% if date %}
        <div class="panel panel-border-narrow">
          <p>
            If your spouse or civil partner died within the last year, you may still be eligible
            for Bereavement Benefit. <a href="https://www.gov.uk/bereavement-payment" target="_blank">
            More on Bereavement Benefit (opens in a new tab)</a>
          </p>
        </div>
        {% endif %}

        <h2 class="heading-medium">Do you want to continue with your application?</h2>

        <p class="text form-hint">
          You can still apply even though you're not eligible for Bereavement Support Payment.
        </p>

        <form>
          <div class="form-group">
            <fieldset class="inline">
              <!-- <legend class="visuallyhidden">Do you already have a personal user account?</legend>-->

              <label class="block-label" for="exit-continue-yes" data-target="continue-button">
                <input id="exit-continue-yes" type="radio" name="exit-continue-select" value="Yes">
                Yes
              </label>
              <label class="block-label" for="exit-continue-no">
                <input id="exit-continue-no" type="radio" name="exit-continue-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <div class="js-hidden" id="continue-button">
            <div class="form-group">
              <a href="{{buttonLink}}" class="button">I still want to apply</a>
            </div>
          </div>
        </form>

        <div class="panel panel-border-narrow">
          <h2 class="heading-small">Bereavement Service helpline</h2>

          <p>
            Telephone: 0345 606 0265<br />
            Welsh language: 0345 606 0275<br />
          </p>

          <p>
            Textphone: 0345 606 0285<br />
            Welsh language: 0345 606 0295
          </p>

          <p>
            Monday to Friday, 8am to 6pm
          </p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
