{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Do you need help to pay for the funeral?
        </h1>

        <p class="lede">
          You may be able to get a Funeral Payment if you are struggling to pay
          for a funeral you are arranging.
        </p>

        <p>
          How much you could get depends on your circumstances and whether or
          not you qualify. <a href="https://www.gov.uk/funeral-payments/overview">
          Get more information on Funeral Payments.</a>
        </p>

          <form method="post">
          <div class="form-group">
            <fieldset class="inline">
              <label class="block-label" for="sffp-yes">
                <input id="sffp-yes" type="radio" name="sffp-select" value="Yes">
                Yes
              </label>

              <label class="block-label" for="sffp-no">
                <input id="sffp-no" type="radio" name="sffp-select" value="No">
                No
              </label>
            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>

          <p>
            For more advice on help with paying for funerals, visit:
            <ul class="list-bullet">
              <li>the Money Advice Service page on <a href="https://www.moneyadviceservice.org.uk/en/articles/help-paying-for-a-funeral">
              paying for a funeral</a></li>
              <li>the Citizens Advice page on <a href="https://www.citizensadvice.org.uk/relationships/death-and-wills/what-to-do-after-a-death/#h-funerals">
              what to do after a death</a></li>
              <li>the Turn2us page on applying for a Budgeting Loan<a href="https://www.turn2us.org.uk/Benefit-guides/Budgeting-Loan-Advance/What-is-a-Budgeting-Loan-Advance">
              applying for a Budgeting Loan</a>

            </ul>

        </form>
      </div>
    </div>
  </main>
{% endblock %}
