{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">You might be eligible for Social Fund Funeral Payment</h1>

        <p>
          Once you have planned the funeral. You may be able to recover some of
          the cost through Social Fund Funeral Payment.
        </p>

        <form>
          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
