{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Tell us someone has died
        </h1>

        <p class="lede">
          When someone dies, any State Pension, allowances or benefits they
          received will need to be cancelled.
        </p>

        <p>
          You'll need to give some details about the person who has died. This
          should only take a few minutes and will let government organisations
          see what needs to be stopped or updated.
        </p>

        <p>
          You can also get information on help with funeral costs or other
          benefits.
        </p>

        <div class="panel panel-border-narrow">
          You don't have to do this yourself. You can ask a trusted friend or
          family member to act on your behalf.
        </div>

        <form method="post">
          <input type="submit" class="button button-start" value="Start now" />
        </form>
      </div>
    </div>
  </main>
{% endblock %}
