{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Let the DWP know that someone has died
        </h1>

        <p class="lede">
          When someone dies, any State Pension or benefits they recieved will
          need to be cancelled.
        </p>

        <p>
          You'll need to give the Department for Work and Pensions (DWP) some
          details about the person who has died. This should only take a few
          minutes and will help you understand what needs to be done in the
          days and weeks following their death.
        </p>

        <p>
          The DWP will also check if you can get help with funeral costs or other
          benefits.
        </p>

        <div class="panel panel-border-narrow">
          You don't have to do this yourself. You can ask a trusted friend or
          family member to act on your behalf.
        </div>

        <form method="post">
          <input type="submit" class="button button-start" value="Start now" />
        </form>
      </div>
    </div>
  </main>
{% endblock %}
