{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          What you can do now
        </h1>

        <p class="lede">
          There are some things you must do in the first few days after
          {{name}}'s death.
        </p>

        <p>
          You've already given his details and any benefits he received are now
          being stopped. Other things like his driving licence and passport are
          also being cancelled.
        </p>

        <p>
          There are now two things you must do:
            <ul class="list-bullet">
              <li>Register the death within 5 days (8 days in Scotland).
                You’ll then get the documents you need for the funeral</li>
              <li>Arrange the funeral</li>
            </ul>
        </p>

        <p>
          You can also get information on help with funeral costs or other
          benefits.
        </p>

        <form method="post">
          <input type="submit" class="button" value="Continue" />
        </form>
      </div>
    </div>
  </main>
{% endblock %}
