{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">What's being done</h1>

        <p class="lede">
          These organisations have now been told about the death of John Barratt:
        </p>

        <details>
          <summary><span class="summary">Department for Work and Pensions (DWP)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Incapacity Benefit</li>
              <li>Income Support</li>
              <li>Jobseeker's Allowance</li>
              <li>Universal Credit</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">HM Revenue and Customs (HMRC)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Working Tax Credits</li>
              <li>Child Tax Credits</li>
              <li>Child Benefit</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">Driver and Vehicle Licensing Agency (DVLA)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Driving licence</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">HM Passport Office</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>UK passport</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">Your local authority</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Council tax</li>
            </ul>
          </div>
        </details>

        <br />

        <p>
          The benefits or details listed under each organisation are now being
          stopped or updated - you don't have to do this yourself. If any more
          information is needed, an organsation will contact you.
        </p>

        <br />

        <form method="post">
          <div class="form-group">
            <input type="submit" class="button" value="Find out what to do next">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
