{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <style>
    input[type=checkbox] {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      float: right;
    }

    .td-title {
      width: 50%;
    }

    .td-title {
      padding-left: 20px;
    }

    .check-your-answers .change-answer {
      padding-right: 20px;
    }

    .done {
      background-color: #EAF6F5;
    }

    .done-by span {
      visibility: hidden;
    }
  </style>

  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge" style="margin-bottom: 0">Tasks</h1>
      </div>

      <div class="column-two-thirds">
        <table class="check-your-answers">
          {{m.tableHead('To be completed this week')}}

          <tbody>
            {{m.tableRow('Register death', 'Carol')}}
            {{m.tableRow('Arrange funeral')}}
          </tbody>
        </table>

        <table class="check-your-answers">
          {{m.tableHead('To be completed by ' + date.twoWeeks)}}

          <tbody>
            {{m.tableRow('Apply for Social Fund Funeral Payment')}}
            {{m.tableRow('Task 4')}}
          </tbody>
        </table>

        <table class="check-your-answers">
          {{m.tableHead('To be completed by ' + date.threeMonths)}}

          <tbody>
            {{m.tableRow('Apply for Bereavement Support Payment')}}
          </tbody>
        </table>

        <table class="check-your-answers">
          {{m.tableHead('To be completed by ' + date.sixMonths)}}

          <tbody>
            {{m.tableRow('Task 7')}}
            {{m.tableRow('Task 8')}}
          </tbody>
        </table>
      </div>

      <div class="column-one-third">
        <h2 class="heading-medium">Options</h2>
        <ul>
          <li><a class="heading-small" href="#">Add a helper</a></li>
          <li><a class="heading-small" href="#">Get notifications</a></li>
          <li><a class="heading-small" href="#">Print a list</a></li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).ready(function() {
        $('.done').each(function () {
          $(this).find('input[type="checkbox"]').attr('checked', true);
          $(this).find('span').css('visibility', 'visible');
        });
    });

    $(document).on('change', 'input[type="checkbox"]', function () {
      if (this.checked) {
        $(this).parents('tr').addClass('done');
        $(this).parents('tr').find('.done-by span').text('Completed by you');
        $(this).parents('tr').find('.done-by span').css('visibility', 'visible');
      } else {
        $(this).parents('tr').removeClass('done');
        $(this).parents('tr').find('.done-by span').css('visibility', 'hidden');
      }
    });
  </script>
{% endblock %}
