{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">Application received</h1>
          <p>
            {{completeDate}}<br />
            Your reference number is <br />
            <strong class="heading-medium">HDJ2123F</strong>
          </p>
        </div>

        <a href="dashboard" class="button">Continue</a>

      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('click', '#print-button', function (e) {
      e.preventDefault;
      window.print();
    });
  </script>
{% endblock %}
