{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Your checklist
        </h1>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Things you have done
                </h2>
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                Organisations informed
              </td>

              <td colspan="2">
                {% include '../version-3/partials/whats-been-done.html' %}
              </td>
            </tr>

            {% if registered %}
              {% include '../version-3/checklist-rows/done/registered-death.html'%}
            {% endif %}

            {% if funeral %}
              {% include '../version-3/checklist-rows/done/arranged-funeral.html'%}
            {% endif %}

            {% if bsp %}
              {% include '../version-3/checklist-rows/done/applied-for-bsp.html'%}
            {% endif %}
          </tbody>
        </table>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Things you can still do
                </h2>
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                Cancel any bank accounts
              </td>
              <td>
                Not done
              </td>
              <td class="change-answer">
                <a href="/version-3/funeral-no">More info</a>
              </td>
            </tr>

            <tr>
              <td>
                Cancel any insurance policies
              </td>
              <td>
                Not done
              </td>
              <td class="change-answer">
                <a href="/version-3/funeral-no">More info</a>
              </td>
            </tr>

            <tr>
              <td>
                Tell employers
              </td>
              <td>
                Not done
              </td>
              <td class="change-answer">
                <a href="/version-3/funeral-no">More info</a>
              </td>
            </tr>

            {% if not registered %}
              {% include '../version-3/checklist-rows/not-done/registered-death.html'%}
            {% endif %}

            {% if not funeral %}
              {% include '../version-3/checklist-rows/not-done/arranged-funeral.html'%}
            {% endif %}

            {% if bspElig %}
              {% if not bsp %}
                {% include '../version-3/checklist-rows/not-done/applied-for-bsp.html'%}
              {% endif %}
            {% endif %}

            {% if sffp %}
              {% include '../version-3/checklist-rows/not-done/applied-for-sffp.html'%}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}
