{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Your checklist
        </h1>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Done
                </h2>
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                Organisations informed
              </td>

              <td colspan="2">
                {% include '../version-3/partials/whats-been-done.html' %}
              </td>
            </tr>

            {% if registered %}
              {% include '../version-3/checklist-rows/done/registered-death.html'%}
            {% endif %}

            {% if funeral %}
              {% include '../version-3/checklist-rows/done/arranged-funeral.html'%}
            {% endif %}

            {% if bsp %}
              {% include '../version-3/checklist-rows/done/applied-for-bsp.html'%}
            {% endif %}
          </tbody>
        </table>

        {% if notDone %}
          <table class="check-your-answers">
            <thead>
              <tr>
                <th colspan="2">
                  <h2 class="heading-medium">
                    Not done
                  </h2>
                </th>
                <th>
                </th>
              </tr>
            </thead>

            <tbody>
              {% if not registered %}
                {% include '../version-3/checklist-rows/not-done/registered-death.html'%}
              {% endif %}

              {% if not funeral %}
                {% include '../version-3/checklist-rows/not-done/arranged-funeral.html'%}
              {% endif %}

              {% if bspElig %}
                {% if not bsp %}
                  {% include '../version-3/checklist-rows/not-done/applied-for-bsp.html'%}
                {% endif %}
              {% endif %}

              {% if sffp %}
                {% include '../version-3/checklist-rows/not-done/applied-for-sffp.html'%}
              {% endif %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
