{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">How to register a death</h1>

        <p>
          Use the <a href="https://www.gov.uk/register-a-death" target="_blank">
          register a death tool (opens in a new window)</a> to find out if you can register the
          death yourself and to see what you need to do.
        </p>

        <form method="post">
          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
