{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">What's being done</h1>

        <p class="lede">
          Thank you for telling us about the death of {{deceasedName}} at what
          must be a very difficult time. The following organisations have been
          told:
        </p>

        {% include '../version-3/partials/whats-been-done.html' %}

        <br />

        <p>
          If any more information is needed about {{deceasedName}} by any
          of the organisations listed, they will contact you - you don't need to
          do anything else right now.
        </p>

        <br />

        <form method="post">
          <div class="form-group">
            <input type="submit" class="button" value="Find out what to do next">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
