{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">What's being done</h1>

        <p class="lede">
          Thank you for telling us about the death of {{deceasedName}} at what
          must be a very difficult time. The following organisations have been
          told:
        </p>

        <details>
          <summary><span class="summary">Department for Work and Pensions (DWP)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Incapacity Benefit - this will be stopped</li>
              <li>Income Support - this will be stopped</li>
              <li>Jobseeker's Allowance - this will be stopped</li>
              <li>Universal Credit - this will still be paid to the partner
              of {{deceasedName}} but the amount will change</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">HM Revenue and Customs (HMRC)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Working Tax Credits - this will be stopped</li>
              <li>Child Tax Credits - this will still be paid to the partner
              of {{deceasedName}} but the amount will change</li>
              <li>Child Benefit - this will still be paid to the partner
              of {{deceasedName}} but the amount will change</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">Driver and Vehicle Licensing Agency (DVLA)</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Driving licence - this will be cancelled to prevent it being
                used fraudulently</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">HM Passport Office</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>UK passport - this will be cancelled to prevent it being
                used fraudulently</li>
            </ul>
          </div>
        </details>

        <details>
          <summary><span class="summary">Your local authority</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list-bullet">
              <li>Council tax - North Tyneside Council has been notified</li>
            </ul>
          </div>
        </details>

        <br />

        <p>
          If any more information is needed about {{deceasedName}} by any
          of the organisations listed, they will contact you - you don't need to
          do anything else right now.
        </p>

        <br />

        <form method="post">
          <div class="form-group">
            <input type="submit" class="button" value="Find out what to do next">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
