{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}
    {% include '../includes/errors.html' %}

    <a href="dependent-children" class="hidden-skip-link"></a>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Your contact details</h1>

        <form method="post">
          <div class="form-group">
            <legend class="form-label">Address</legend>

            <fieldset data-required data-error="Line 1 cannot be blank">
              <div class="form-group-compound">
                <label class="form-label label-no-hint visuallyhidden" for="address">
                  Address line 1
                </label>
                <input type="text" class="form-control" id="address-1">
              </div>
            </fieldset>

            <div class="form-group-compound">
              <label class="form-label label-no-hint visuallyhidden" for="address">
                Address line 2
              </label>
              <input type="text" class="form-control" id="address-2">
            </div>

            <div>
              <label class="form-label label-no-hint visuallyhidden" for="address">
                Address line 3
              </label>
              <input type="text" class="form-control" id="address-3">
            </div>
          </div>

          <fieldset data-required data-error="Postcode cannot be blank">
            <div class="form-group">
              <label class="form-label label-no-hint" for="postcode">
                Postcode
              </label>
              <input type="text" class="form-control" id="postcode">
            </div>
          </fieldset>

          <fieldset data-required data-error="Cannot be blank">
            <div class="form-group">
              <label class="form-label" for="phone">Telephone number</label>
              <input class="form-control" id="phone" name="phone" type="text">
            </div>
          </fieldset>

          <input type="submit" class="button" value="Continue">
        </form>
      </div>
    </div>
  </main>
{% endblock %}
