{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="govuk-box-highlight">
          <h1 class="bold-large">Application received</h1>
          <p>
            {{completeDate}}<br />
            Your reference number is <br />
            <strong class="heading-medium">HDJ2123F</strong>
          </p>
        </div>

        <h2 class="heading-medium">What you need to do now</h2>

        <p>
          Send your original marriage or civil partnership certificate, if you
          have it, to this address:
        </p>

        <p>
          Dover Benefit Centre<br />
          Post Handling Site B<br />
          Wolverhampton<br />
          WV99 1LA
        </p>

        <p>
          If you prefer, you can take it to your nearest Jobcentre Plus. You'll
          need to make an appointment before you go.
        </p>

        <h2 class="heading-small">Jobcentre Plus - bereavement helpline</h2>

        <p>
          Telephone: 0345 608 8601<br />
          Textphone: 0345 608 8551<br />
          Welsh language: 0345 608 8772
        </p>

        <p>Monday to Friday, 8am to 6pm</p>

        <div class="panel panel-border-narrow">
          <p>
            If you don't have a marriage or civil partnership certificate, the
            Bereavement Service will get in touch using the details you provided
            to ask you for more information.
          </p>
        </div>

        <h2 class="heading-medium">Before you send anything</h2>

        <p>
          Make sure you enclose the following with your marriage or civil
          partnership certificate
        </p>

        <ul class="list list-bullet">
          <li>your reference number</li>
          <li>your National Insurance number</li>
        </ul>

        <hr class="print-hidden" />

        <p class="print-hidden">
          <img class="print-save-icons" src="/public/images/icon-file-download.png">
          <a href="download" target="_new" class="heading-medium">Save this page</a>
        </p>

				<p class="print-hidden">
          <img class="print-save-icons" src="/public/images/icon-print.png" width="30">
          <a id="print-button" href="end" class="heading-medium">Print this page</a>
        </p>

      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
    $(document).on('click', '#print-button', function (e) {
      e.preventDefault;
      window.print();
    });
  </script>
{% endblock %}
