{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Based on your answers, you can&rsquo;t get Bereavement Support Payment
        </h1>

        {% if noCount > 1 %}
          <p>You can only get it if</p>
          <ul class="list-bullet">
            {% if date %}
              <li>
                your spouse or civil partner died after 6 April 2014
              </li>
            {% endif %}
            {% if location %}
              <li>
                you lived in the UK when your spouse or civil partner died
              </li>
            {% endif %}
            {% if married %}
              <li>
                you were married to, or in a civil partnership with, your
                partner when they died
              </li>
            {% endif %}
          </ul><br/>
        {% else %}
          <p class="lede">
          {% if date %}
            You can only get it if your spouse or civil partner died after 6
            April 2014.
          {% elif location %}
            You can only get it if you lived in the UK when your spouse or
            civil partner died.
          {% elif married %}
            You can only get it if you were married to, or in a civil
            partnership with, your partner when they died.
          {% elif dateOfBirth %}
            You can only get it if you were below State Pension age when your
            spouse or civil partner died.
          {% endif %}
          </p>
        {% endif %}

        {% if date %}
          <div class="panel panel-border-narrow">
            <p>
              If your spouse or civil partner died within the last year, you may
              still be eligible for Bereavement Benefit.
              <a href="https://www.gov.uk/bereavement-payment" target="_blank">
                More on Bereavement Benefit (opens in a new tab)
              </a>
            </p>
          </div>
        {% endif %}

        <h2 class="heading-medium">
          If you think we've made a mistake
        </h2>
        <p>
          You can call the Bereavement Service Helpline on
        </p>
        <p>
          Telephone: 0345 606 0265<br/>
          Textphone: 0345 606 0285
        </p>
        <p>
          Monday to Friday, 8am to 6pm
        </p>

      </div>
    </div>

  </main>
{% endblock %}
