{% extends "layout.html" %}

{% block page_title %}
  Apply for bereavement Support Payment
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}
    {% include '../includes/back-link.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You can&rsquo;t get Bereavement Support Payment
        </h1>

        <p class="lede">
          You can only get it if you lived in the UK when your spouse or civil
          partner died
        </p>

        <a href="dashboard" class="button">Continue</a>

        <h2 class="heading-medium">
          If you think there's been a mistake
        </h2>
        <p>
          Call the Bereavement Service Helpline on:
        </p>
        <p>
          Telephone: 0345 606 0265<br/>
          Textphone: 0345 606 0285
        </p>
        <p>
          Monday to Friday, 8am to 6pm
        </p>

      </div>
    </div>

  </main>
{% endblock %}
