{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          The right organisations now know about the death
        </h1>

        <p class="lede">
          You can use this checklist to help you make any other arrangements
          needed.
        </p>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Things you have done
                </h2>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                Told government organisations about the death of {{name}}
              </td>

              <td colspan="2">
                {% include '../version-5/partials/whats-been-done.html' %}
              </td>
            </tr>

            {% if checklist.bsp == 'Yes' %}
              {% include '../version-5/checklist-rows/done/applied-for-bsp.html' %}
            {% endif %}

            {% if checklist.registered == 'Yes' %}
              {% include '../version-5/checklist-rows/done/registered-death.html' %}
            {% endif %}

            {% if checklist.funeral == 'Yes' %}
              {% include '../version-5/checklist-rows/done/arranged-funeral.html' %}
            {% endif %}

            {% if checklist.bankAccounts == 'Yes' %}
              {% include '../version-5/checklist-rows/done/cancelled-bank-accounts.html' %}
            {% endif %}

            {% if checklist.insurance == 'Yes' %}
              {% include '../version-5/checklist-rows/done/cancelled-insurance.html' %}
            {% endif %}

            {% if checklist.employers == 'Yes' %}
              {% include '../version-5/checklist-rows/done/tell-employers.html' %}
            {% endif %}

            {% if checklist.funeralSupport == 'Yes' %}
              {% include '../version-5/checklist-rows/done/help-with-funeral.html' %}
            {% endif %}
          </tbody>
        </table>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Things you can still do
                </h2>
              </th>
            </tr>
          </thead>

          <tbody>
            {% if bspElig == 'true' %}
              {% if checklist.bsp == 'No' %}
                {% include '../version-5/checklist-rows/not-done/applied-for-bsp.html' %}
              {% endif %}
            {% endif %}

            {% if checklist.registered == 'No' %}
              {% include '../version-5/checklist-rows/not-done/registered-death.html' %}
            {% endif %}

            {% if checklist.funeral == 'No' %}
              {% include '../version-5/checklist-rows/not-done/arranged-funeral.html' %}
            {% endif %}

            {% if checklist.bankAccounts == 'No' %}
              {% include '../version-5/checklist-rows/not-done/cancelled-bank-accounts.html' %}
            {% endif %}

            {% if checklist.insurance == 'No' %}
              {% include '../version-5/checklist-rows/not-done/cancelled-insurance.html' %}
            {% endif %}

            {% if checklist.employers == 'No' %}
              {% include '../version-5/checklist-rows/not-done/tell-employers.html' %}
            {% endif %}

            {% if checklist.funeralSupport == 'No' %}
              {% include '../version-5/checklist-rows/not-done/help-with-funeral.html' %}
            {% endif %}
          </tbody>
        </table>

        <br />

        <p class="print-hidden">
          <a id="save-button" href="download" target="_new" class="heading-medium">
            <img class="print-save-icons" src="/public/images/icon-file-download.png">
            Save this page
          </a>
        </p>

				<p class="print-hidden">
          <a id="print-button" href="end" class="heading-medium">
            <img class="print-save-icons" src="/public/images/icon-print.png" width="30">
            Print this page
          </a>
        </p>

        <p class="print-hidden">
          <a id="email-button" href="end" class="heading-medium">
            <img class="print-save-icons" src="/public/images/icon-email.png" width="30">
            Email this page
          </a>

          <div id="email-hidden" class="panel panel-border-narrow js-hidden">
            <form>
              <fieldset>
                <div class="form-group">
                  <label class="form-label" for="email-address">Email address</label>
                  <input class="form-control" id="email-address" type="text">
                </div>

                <input type="submit" class="button" value="Email this page">
              </fieldset>
            </form>
          </div>
        </p>
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
  $(document).on('click', '#save-button', function (e) {
    e.preventDefault();
  });

    $(document).on('click', '#print-button', function (e) {
      e.preventDefault();
      window.print();
    });

    $(document).on('click', '#email-button', function (e) {
      e.preventDefault();
      $('#email-hidden').toggle();
    });

    $(document).on('submit', 'form', function (e) {
      e.preventDefault();
      setTimeout(function () {
        $('body').scrollTop(0);
        $('#alert-success').show();
      }, 1000);
    });
  </script>
{% endblock %}
