{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Inform organisations about the death</h1>

        <p class="lede">
          You've given details about the death of {{name}}.
        </p>

         <p>
          When you're ready, you need to confirm that this information can be
          shared with government organisations. The following changes will be
          then be made:
        </p>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th>
                What will change
              </th>

              <th>
                How it will change
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                State Pension
              </td>
              <td>
                Payments will stop.
              </td>
            </tr>

            <tr>
              <td>
                Pension Credit
              </td>
              <td>
                Payments will stop.
              </td>
            </tr>

            <tr>
              <td>
                Carer's Allowance
              </td>
              <td>
                The underlying entitlement will be cancelled.
              </td>
            </tr>

            <tr>
              <td>
                Housing Benefit
              </td>
              <td>
                Payments will stop.
              </td>
            </tr>

            <tr>
              <td>
                Council Tax
              </td>
              <td>
                The home will be exempt from Council Tax until probate is
                granted or someone else moves in.
              </td>
            </tr>

            <tr>
              <td>
                Attendance Allowance
              </td>
              <td>
                Payments will stop.
              </td>
            </tr>

            <tr>
              <td>
                Passport
              </td>
              <td>
                This will be cancelled to prevent fradulent use.
              </td>
            </tr>

            <tr>
              <td>
                Driving licence
              </td>
              <td>
                This will be cancelled to prevent fradulent use.
              </td>
            </tr>

            <tr>
              <td>
                Blue Badge
              </td>
              <td>
                This will be cancelled
              </td>
            </tr>

            <tr>
              <td>
                Council housing
              </td>
              <td>
                {{name}} will be removed from the tenancy.
              </td>
            </tr>

          </tbody>
        </table>

        <br />

        <div class="declaration">
          By sending this information you agree that government organisations
          can make necessary changes to any benefits and services that may have
          received by {{name}}.
        </div>

        <br />

        <form method="post" autocomplete="off">
          <div class="form-group">
            <input type="submit" class="button" value="I agree - inform organisations">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
