{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Government now knows about the death</h1>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th>
                What's happening now
              </th>

              <th>
                When it will be done
              </th>

              {# <th>
                What you need to do
              </th> #}
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                State Pension payments are being stopped
              </td>
              <td>
                By {{date.fourteen}}
              </td>
              {# <td>
                You may be able to get some of your husband, wife or civil
                partner's State Pension. You will be contacted if any more
                information is needed.
              </td> #}
            </tr>

            <tr>
              <td>
                Pension Credit is being stopped
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Nothing right now. You will be contacted if any more information
                is needed.
              </td> #}
            </tr>

            <tr>
              <td>
                Carer's Allowance is being cancelled
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Nothing right now. You will be contacted if any more information
                is needed
              </td> #}
            </tr>

            <tr>
              <td>
                Housing Benefit payments are being stopped
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Nothing right now. You will be contacted if any more information
                is needed.
              </td> #}
            </tr>

            <tr>
              <td>
                Council Tax is being suspended
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Apply for probate - you only start paying council tax on this
                home 6 months after you get probate.
              </td> #}
            </tr>

            <tr>
              <td>
                Attendance Allowance is being stopped
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
              Nothing right now. You will be contacted if any more information
              is needed.
              </td> #}
            </tr>

            <tr>
              <td>
                Passport will be cancelled
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Cut the top right hand corner off the passport and then send it
                to:

                <p>
                  Customer Contact Centre<br />
                  Her Majesty’s Passport Office<br />
                  PO Box 767<br />
                  Southport<br />
                  PR8 9PW
                </p>

                This prevents it being used fraudulently.
              </td> #}
            </tr>

            <tr>
              <td>
                Driving licence will be cancelled
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Send the driving licence to:

                <p>
                  DVLA<br />
                  Swansea<br />
                  SA99 1AB
                </p>

                Include a letter explaining your relationship to the person who
                has died, the date of death and their name, address and date of
                birth.
              </td> #}
            </tr>

            <tr>
              <td>
                Blue Badge is being cancelled
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Nothing right now. You will be contacted if any information is
                needed.
              </td> #}
            </tr>

            <tr>
              <td>
                Council house tenancy is being updated
              </td>
              <td>
                By {{date.ten}}
              </td>
              {# <td>
                Nothing right now - the tenancy will continue in your name.
              </td> #}
            </tr>
          </tbody>
        </table>

        <br />

        <form method="post" autocomplete="off">
          <div class="form-group">
            <input type="submit" class="button" value="See your checklist">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
