{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include 'includes/phase_banner_alpha.html' %}

		<h1 class="heading-large">Prototypes</h1>

		<div class="grid-row">
			<div class="column-two-thirds">

				<h3 class="heading-medium">Sprint 1 - Apr 2016</h3>

        <h4 class="heading-small">Version 1 - One thing per page</h4>
				<p>
					This is the first iteration of the prototype. We have encorporated three
          knockout questions to try and determine if the user is eligible for BSP.
          The journey ends where an agent will have to pick up the claim to gather
          evidence.
				</p>

        <p><a href="/sprint1v1/start" class="button">Start now v1</a></p>

        <hr />

        <h4 class="heading-small">Version 2 - Grouped eligibility and child benefit</h4>
				<p>
					This iteration has moved the eligibility questions into one page, and has
          moved the two questions around child benefit and dependent children into
          one page. This iteration also has 'full name' instead of seperate first
          name and last name.
				</p>

				<p><a href="/sprint1v2/start" class="button">Start now v2</a></p>

        <hr />

        <h4 class="heading-small">Version 3</h4>
				<p>
					This iteration has kept eligibility questions on one page from v2,
          but has kept the two step child-benefit process from v1. This iteration
          has a different exit journey, allowing the user to continue regardless
          of their eligibility.
				</p>

				<p><a href="/sprint1v3/start" class="button">Start now v3</a></p>

        <hr />

        <h3 class="heading-medium">Sprint 2 - May 2016</h3>

        <h4 class="heading-small">Version 1</h4>
        <p>
          First iteration of Sprint 2, updated inline with user research insights.
        </p>

        <p><a href="/sprint2/start" class="button">Start now</a></p>

				<!--<details>
			    <summary><span class="summary">Previous Iterations</span></summary>

			    <div class="panel panel-border-narrow">
						<h3 class="heading-medium">Iteration Title</h3>
						<p>
							Iteration description
						</p>

						<p><a href="/sprint1/start" class="button">Start now</a></p>
			    </div>
			  </details>-->
			</div>
		</div>
	</main>
{% endblock %}
