{% extends "layout.html" %}
{% import 'helpers/macros.html' as m %}

{% block page_title %}
  Bereavement service
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include '../includes/phase_banner_alpha.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Government now knows about the death</h1>

        <p class="lede">
          If any more information is needed, you or the person dealing with the
          estate will be contacted.
        </p>

        <h2 class="heading-medium">Things you can do now</h2>

        <table class="check-your-answers">
          <thead>
            <tr>
              <th colspan="3">
              </th>
            </tr>
          </thead>

          <tbody>
            {% if checklist.sffp == 'Yes'%}
              <tr>
                <td>
                  Get help paying for a funeral
                </td>
                <td>
                </td>
                <td>
                  <span class="form-label-bold">Done ✓</span>
                </td>
              </tr>
            {% else %}
              <tr>
                <td>
                  Get help paying for a funeral
                </td>
                <td>
                  Apply within 3 months of the funeral
                </td>
                <td>
                  <a href="apply-for-sffp" class="form-label-bold" href="#">Apply online</a>
                </td>
              </tr>
            {% endif %}

            {% if checklist.ihtax == 'Yes'%}
              <tr>
                <td>
                  Work out Inheritance Tax bill
                </td>
                <td>
                </td>
                <td>
                  <span class="form-label-bold">Done ✓</span>
                </td>
              </tr>
            {% else %}
              <tr>
                <td>
                  Work out Inheritance Tax bill
                </td>
                <td>
                  This needs to be paid within 6 months of the death
                </td>
                <td>
                  <a href="inheritance-tax" class="form-label-bold" href="#">Calculate online</a>
                </td>
              </tr>
            {% endif %}



          </tbody>
        </table>

        <br />

        <form method="post" autocomplete="off">
          <div class="form-group">
            <input type="submit" class="button" value="I'm done">
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
